/*Header*/

.main-header {
	background: #fff;
  	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  	position: fixed;
  	top: 0;
  	right: 0;
  	left: 0;
  	z-index: 999;
  	overflow: auto;
  	min-height: 55px;
  	padding-top: 5px;

  	nav{
	  background: none;
	  border: 0;
	  margin: 0;
	  position: relative;
	  min-height: auto;
	  border-radius: 0;
	}

	.region{
	  position: relative;
	}

	.block{
	  margin: 0;
	}
}


/*Region Header*/

.site-branding{
	margin: 0;
}

.region-header .brand{
	display: inline-block;
	vertical-align: middle;
	color: $headerTextColor;
	line-height: 120%;
	font-size: 1.5em;

	a{
		padding: 3px;
		font-weight: bold;
		display: inline-block;
		
		img{
			vertical-align: middle;
		}
	}

	.site-branding__slogan{
		font-size: .6em;
	}
}

.brand.logo a img{
  width: 175px;
}

.site-branding__name{
	a{
		color: #fff;
		margin: 0 2px;
		background: $linkColor;
		text-transform: uppercase;
	}
}

.region-contact-email{

	.block{
		margin: 5px 0;
	}
	
	p{
		margin: 0;
		line-height: 120%;
	}
}


/*Search Form*/

.search-block-form{
	margin: 0 auto;
}

.region-search{
	clear: both;
	padding: 6px 0;
}

#search-block-form{
	display: table;
	width: 100%;

	.form-item, 
	.form-actions{
		display: table-cell;
		vertical-align: top;
	}

	input.form-submit{
		background: image-url("search.png") no-repeat center $linkColorHover;
		font-size: 0;
		width: 100%;
		height: 30px;
		vertical-align: top;
	}

	input{
		width: 100%;
		height: 30px;
	}
}


/*Breadcrumb*/

.breadcrumb{
	font-size: .85em;
	padding: 3px 10px;
	margin: 0;
	background: #fff;
	display: inline-block;

	ul{
		padding: 0;
		margin: 0;

			li{
				display: inline-block;
				&:last-child span{
					display: none;
			}
		}
	}
}

.breadcrumb ul li:before {
  content: '\\';
}

.breadcrumb ul li:first-child:before {
    content: '';
}
