/*Front Page*/

.path-frontpage .feed-icon{
  display: none;
}

.path-frontpage .content_layout{
	max-width: 750px;
	margin: 0 auto;
	overflow: hidden;
}


/*Bottom Widgets*/

.bottom-widgets{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 30px;
	background: #27ae60;
    color: #b4dec6;

	.block h2.title{
	  margin: 5px 0 10px 0;
	  color: #fff;
	}

	.row > div{
		border-right: 1px solid #2ec16c;

		&:last-child{
			border: 0;
		}
	}
}

.path-frontpage .bottom-widgets{
	padding: 20px 0;
}
