/*Menu*/

.navbar-default {

	.navbar-toggle{
  		z-index: 999;
  		margin-right: 0;
  		border: 0;
  		border-radius: 5px;
  		color: #fff;
  		background: #E00D39;
  		padding: 6px 6px;

		.icon-bar {
		  display: block;
		  width: 35px;
		  height: 4px;
		  border-radius: 1px;
		  background-color: #fff;
		}

		&:focus, &:hover{
 			background: none;
		}
	}
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: #E00D39;
}

nav h2{
  display: none;
}

.menu-base-theme{
	background: none;

	ul{
		background: none;
	}

	li{

		a{
			font-family: $titleFontFamily;
			color: $menuTextColor;
			border-bottom: 1px solid #cccccc;
			line-height: 100%;
			padding: 17px 15px;
			text-transform: uppercase;
			font-size: 1em;
			outline: none;

			&:hover, 
			&:focus, 
			&:active, 
			&.highlighted{
				background: none;
				color: $menuTextActiveColor;
				line-height: 100%;
				padding: 17px 15px;
			}

			&.sub-arrow{
				color: #999;
				font-size: 22px;
				padding: 5px;
				border-radius: 2px;
				border: 1px solid #DCDCDC;
				background: #EFEFEF;
			}

			span.sub-arrow{
				line-height: 120%;
				font-size: 2em;
			}
		} 
	}
}

.region-primary-menu{
	display: none;
	width: 100%;
    background: #212020;
    margin-bottom: 15px;
    border-radius: 5px;
}


/*Footer Menu*/

.region-footer-menu{	

	ul{
		margin: 10px 0;
		padding: 0;
	}
	
	nav li{
		display: inline-block;
		a{
			display: block;
			padding: 2px 15px 2px 0;
		}
	}
}


/*Top Menu*/

.top-menu{
	padding: 10px 0;
	text-align: center;
	font-size: .75em;
	background: #f9f9f9;
}

.region-top-menu{

	ul{
		text-align: center;
		margin: 0;
		padding: 0;
	}
	
	nav li{
		display: inline-block;
		a{
			display: block;
		    padding: 2px 10px;
		    background: #3ad47b;		    
		    color: #fff;		    
		    text-transform: uppercase;
		    font-weight: bold;
		    @include border-radius(3px);

			&:hover{
				background: #23b962;
			}
		}

		&:last-child{
			a{
				background: #f00;

				&:hover{
					background: #f11818;					
				}
			}
		}
	}
}