
/*Flexslider*/

.flexslider {
  box-shadow: 1px 3px #ccc;
  border-radius: 0;
  background: #fff;
  max-width: 100%;
  margin: 0 auto;

  .slider-caption {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 999;
    width: 50%;
    text-align: left;
    font-size: 1em;
    line-height: 150%;
    background: #000;
    background: rgba(0, 0, 0, 0.41);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }

  h2 {
    font-size: 1.3em;
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    line-height: 100%;
    padding: 10px;
    color: #fff;
  }

  .slider-description {
    display: inline-block;
    clear: both;
    color: #000;
    padding: 10px;
    margin-bottom: 0px;
    color: #fff;

    a {
      color: #de4867;
      font-weight: bold;
    }
  }

  .more-link {
    padding: 8px 10px;
    font-size: .9em;
    font-weight: bold;
    display: inline-block;
    background: white;
    text-transform: uppercase;
    border-radius: 15px;
    margin: 14px;
  }

  .slides li {
    position: relative;
  }

  .flex-direction-nav {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;

    li {
      list-style: none;
    }

    a {
      font-size: 0;
      padding: 10px;
    }
  }

  .flex-control-paging li {
    a {
      width: 12px;
      height: 12px;
      display: block;
      background: #fff;
      cursor: pointer;
      outline: none;
      text-indent: -9999px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
    }

    .flex-active {
      background: #E00D39;
    }
  }

  .flex-control-nav {
    bottom: 0;
  }
}